.comments {
  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 18px;
  }

  &__item {
    background: #000000;
    border-radius: 32px;
    max-width: 423px;
    width: 100%;
    margin-bottom: 16px;
    padding: 50px;
    padding-top: 54px;
  }

  &__stars {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
  }

  &__text {
    font-size: 36px;
    margin-bottom: 24px;
    letter-spacing: 0.001px;
    line-height: 42px;
  }

  &__autor {
    color: $gray;
    font-size: 24px;
  }

  &__star {
    margin-right: 5px;
  }

  @media only screen and (max-width: 900px) {
    &__item {
      padding: 40px;
      margin-right: 0;
      margin-left: 0;
    }

    &__text {
      font-size: 29px;
      margin-bottom: 15px;
    }

    &__author {
      font-size: 17.5px;
    }
  }

  @media only screen and (max-width: 427px) {
    &__item {
      padding: 30px;
    }
  }

  @media only screen and (max-width: 500px) {
    &__item {
      border-radius: 15px;
    }
  }

  @media only screen and (max-width: 1329px) {
    &__flex {
      justify-content: center;
    }

    &__item {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
