.episodes__title {
  font-size: 64px;
}

.episodes__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 63px;
}

.episodes__btn {
  margin-top: 28px;
}

.episode {
  background: #030303;
  padding: 40px;
  border-radius: 32px;
}

.episode {
  display: flex;
  margin-bottom: 60px;
}

.episode__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 53px;
}

.episode__tag {
  background: #191919;
  border-radius: 6px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 27px;
  margin-top: 11px;
  margin-bottom: 50px;
}

.episode__title {
  letter-spacing: 2.56px;
  font-size: 64px;
  margin-bottom: 26px;
  max-width: 700px;
}

.episode__text {
  margin-bottom: 16.5px;
  max-width: 800px;
}

.episode__number {
  padding-left: 5px;
}

.episode__title_less {
  font-size: 57px;
}

.episode__img img {
  display: block;
}

.episode__img_mobile {
  margin-bottom: 40px;
  padding-top: 20px;
  display: none;
}

@media only screen and (max-width: 1150px) {
  .episodes__header {
    flex-direction: column;
  }

  .episode__img {
    display: none;
  }

  .episode__img_mobile {
    width: 100%;
    display: block;
    img {
      width: 100%;
    }
  }

  .episode__content {
    padding-left: 0;
  }

  .episode {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .episode__btn {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 700px) {
  .section__title {
    font-size: 40px !important;
  }

  .episodes__btn {
    margin-top: 0 !important;
  }

  .episode__title {
    font-size: 42px;
  }

  .episodes__title {
    margin-bottom: 30px;
    text-align: center;
  }

  .episode__tag {
    margin-bottom: 40px;
  }

  .episode {
    padding: 25px;
  }

  .episode {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .episode__img_mobile {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .episode {
    border-radius: 15px;
  }

  .episode__title {
    font-size: 35px;
  }

  .text {
    font-size: 16px;
    line-height: 25px;
  }
}
