.footer__logo {
  margin-bottom: 19px;
  display: block;
  img {
    width: 222.82px;
    height: 45.47px;
  }
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__social {
  margin-right: 10px;
}

.facebook {
  padding-left: 6px;
}

.footer__flex {
  padding-top: 5px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  width: 16%;
}

.footer__item_first {
  width: 39%;
}

.footer__item_last {
  width: 40%;
}

.footer__item_second {
  padding-left: 5px;
  padding-top: 3px;
}

.footer__item_third {
  padding-left: 13px;
  padding-top: 3px;
}

.footer__link {
  margin-bottom: 18px;
  font-size: 17px;
  letter-spacing: 0.55px;
  display: block;
  transition: color 0.2s;
  &:hover {
    color: $turquoise;
  }
}

.facebook {
  &:hover {
    .footer__svg {
      path {
        stroke: #4267b2;
      }
    }
  }
}

.twitter {
  &:hover {
    .footer__svg {
      path {
        stroke: #1da1f2;
      }
    }
  }
}

.instagram {
  &:hover {
    .footer__svg {
      path {
        stroke: #e1306c;
      }
    }
  }
}

.footer__svg {
  path {
    transition: stroke 0.2s;
  }
}

.listen__link_footer {
  margin-right: 11px;
}

.footer__content {
  padding-top: 87px;
}

@media only screen and (max-width: 1060px) {
  .footer__flex {
    flex-wrap: wrap;
  }

  .footer__item {
    width: 100%;
  }

  .footer__item_first {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  .footer__item_first,
  .footer__item_last {
    width: 100%;
  }

  .footer__item_third {
    padding-left: 0;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__item_second {
    padding-left: 0;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__link {
    margin-right: 35px;
  }

  .footer__logo {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 400px) {
  .footer__item_first {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 445px) {
  .footer__item_last {
    text-align: center;
  }
}
