.jacob__subtitle {
  margin-bottom: 15px;
}

.jacob__btn {
  width: 112px;
  height: 112px;
  background: #118da8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.jacob__title {
  font-size: 65px;
  margin-bottom: 32.5px;
}

.jacob__text {
  margin-bottom: 33px;
  max-width: 556px;
  width: 100%;
}

.jacob__item {
  width: 50%;
}

.jacob__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17.5px;
}

.jacob__info {
  padding-top: 11px;
}

.jacob__subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1296px) {
  .jacob__img {
    margin-left: 20px;
    width: 40%;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 805px) {
  .jacob__flex {
    flex-direction: column;
  }

  .jacob__item {
    width: 100%;
  }

  .jacob__img {
    margin-left: 0;
  }

  .jacob__btn {
    display: none;
  }
}
