.jacob{
  &__subtitle {
    margin-bottom: 15px;
  }
  
  &__btn {
    width: 112px;
    height: 112px;
    background: #118da8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  
  &__title {
    font-size: 65px;
    margin-bottom: 32.5px;
  }
  
  &__text {
    margin-bottom: 33px;
    max-width: 556px;
    width: 100%;
  }
  
  &__item {
    width: 50%;
  }
  
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17.5px;
  }
  
  &__info {
    padding-top: 11px;
  }
  
  &__subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 1296px) {
    &__img {
      margin-left: 20px;
      width: 40%;
      img {
        width: 100%;
      }
    }
  }
  
  @media only screen and (max-width: 805px) {
    &__flex {
      flex-direction: column;
    }
  
    &__item {
      width: 100%;
    }
  
    &__img {
      margin-left: 0;
    }
  
    &__btn {
      display: none;
    }
  }
  
}